# Database Config
MONGODB_URL="mongodb://127.0.0.1:27017/legal-kb"

# AI Provider API Keys
GEMINI_API_KEY=""
GEMINI_API_KEY_SECONDARY=""
GROQ_API_KEY=""

# AI Provider Models
GEMINI_MODEL=""
GEMINI_MODEL_SECONDARY=""
GROQ_MODEL=""
